.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.IntervalDataContainer {
  align-items: center;
  justify-content: center;
  display: flex; flex-direction: row;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 20%;
}

.Chart {
  /* padding-top: 5%; */
  padding-right: 0%;
  padding-left: 5%;
  /* padding-bottom: 10%; */
}
