.App {
  text-align: center;
  /* background-color: #282c34; */
  background-color: #121212;
  padding-bottom: 10%;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  color: white;
}

.IntervalDataContainer {
  align-items: center;
  justify-content: center;
  display: flex; flex-direction: row;
  padding-top: 0%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
}

.Chart {
  /* padding-top: 5%; */
  padding-right: 0%;
  padding-left: 5%;
  width: 50%;
  /* padding-bottom: 10%; */
}

.AddIntervals {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.AddInterval, .AddIntervalSet, .Exporter {
  padding-top: 0%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
}
