table {
    border: 0;
    background-color: #212121;
    border-radius: 8px;
    color: white;
    margin: 25px 0;
    /* min-width: 400px; */
    /* width:70%; */
    /* text-align: left; */
    padding: 5%;
}

th {
    font-size: calc(12px + 1vmin);
    text-align: center;
    border-bottom: 2px solid white;
}

tbody {
    font-size: calc(10px + 1vmin);
}

td {
    /* border-bottom: 2px solid #616161; */
    padding: 2% 3%;
    margin: 2%;
    border-radius: 8px;
    width:10%;
}

.move {
    width: 2%;
    min-width: 15px;
}

.delete {
    width: 3%;
    min-width: 35px;
}

input {
    font-size: inherit;
    font-family: inherit;
    background-color: inherit;
    color: white;
    /* border: 2px solid #212121; */
    /* border-radius: 20px; */
    width: 100%;
    margin: 0;
    border: 0;
    /* padding: 5%; */
    /* text-align: center; */
}

button {
    background-color: #424242;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    border: 0;
    border-radius: 100%;
    /* padding: 5% 5%; */
    width: 30px;
    height: 30px;
}

button:hover {
    background-color: #616161;
}

.duration:hover, .power:hover, .move:hover {
    background-color: #424242;
}

.duration:focus-within, .power:focus-within {
    background-color: #424242;
}

input:focus {
    outline: none;
}

